body,html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font: normal 400 16px 'Titillium Web', sans-serif;
  background-color: #A4D3D9;
  color: #000000;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #000000;
}
h1 {
  font-family: 'Chewy', sans-serif;
  font-size: 80px;
  color: #2E4E74;
  text-align: center;
  margin-top: 50px;
}
input[type=checkbox] {
  display: none;
}
.btn.active,
.btn:active {
  box-shadow: none;
}
.btn-default {
  border: none;
  color: #FFFFFF;
  width: 100%;
  margin: 2px 0;
  font-size: 18px;
}
.btn-default:hover,
.btn-default.active,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active:focus,
.btn-default:active:hover {
  background-color: white;
  outline: none;
}
.color1 {
  background-color: #3F6A9C;
}
.color2 {
  background-color: #3F949C;
}
#countryList {
  margin: 0 auto;
  padding: 50px 10%;
  column-count: 3;
}
#submitButton,
#generateButton {
  text-align: center;
  padding: 20px;
}
#submit,
#generateMap,
#newMap {
  font-family: 'Chewy';
  background-color: #FFFFFF;
  border: none;
  padding: 10px 25px;
}
#submit:hover,
#generateMap:hover,
#newMap:hover {
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.1);
}
#submit:active,
#submit:active:focus,
#submit:focus,
#generateMap:active,
#generateMap:active:focus,
#generateMap:focus,
#newMap:active,
#newMap:active:focus,
#newMap:focus{
  outline: none;
  box-shadow: none;
}
#map {
  width: 100%;
  height: 600px;
  margin: 50px 0;
}
#visitedList {
  font-size: 20px;
  width: 400px;
  margin: 0 auto;
  padding-bottom: 100px;
  color: #2E4E74;
}
@media (max-width: 1200px) {
  .btn-default {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  #countryList {
    column-count: 2;
  }
  .btn-default {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  #countryList {
    padding: 50px 5%;
  }
  .btn-default {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  #countryList {
    padding: 50px 1%;
  }
  .btn-default {
    font-size: 12px;
  }
}
@media (max-width: 450px) {
  #countryList {
    column-count: 1;
    padding: 50px 10%;
  }
  #visitedList {
    width: 80%;
    font-size: 14px;
  }
}